<div class="box">
	<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">

		<div class="field is-horizontal">
			<div class="field-label is-normal">
				<label class="label">Username/Email</label>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control">
        <input class="input" formControlName="username" type="email" placeholder="You must enter email">
      </p>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Password</label>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control">
        <input class="input" type="password" formControlName="password" placeholder="You must enter password">
      </p>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
  <button class="button is-rounded is-small is-link is-outlined">Login</button>
  </div>
</div>
  </form>
</div>