<div class="container">
	<input type="text" [(ngModel)]="listFilter" placeholder="Search product"  class="input is-rounded w-50">

	<table class="table is-bordered is-fullwidth" *ngIf="filteredProducts?.length > 0 && !is_loading;else loading">
      <thead>
        <tr>
          <th>
            Image
          </th>
          <th>
            Name
          </th>
          <th>
            Price
          </th>
          <th>
            Created By
          </th>
          <th>
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of filteredProducts">
          <td>
            <img [src]="product.picture.url" class="image is-128x128" [alt]="product.picture.name">
          </td>
          <td>
            {{product.name}}
          </td>
          <td>
            {{product.price}}
          </td>
          <td>
            {{product.user?.username}}
          </td>
          <td>
            <span class="icon">
            <i class="far fa-edit"></i>
            </span>
            <span class="icon">
              <i class="fas fa-trash-alt"></i>
            </span>
            <span class="icon">
              <i class="far fa-eye"></i>
            </span>

          </td>
        </tr>
      </tbody>
	</table>

  <ng-template #loading>
    <div class="flex">
      Please wait while loading
    </div>
  </ng-template>
</div>